body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    background: linear-gradient(to bottom right, #06e3d1, #006760);   /* Degradado horizontal */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Div padre */
.login-principal{  
    display: flex;
    gap: 0.5 rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #045c54;
    border-radius: 1rem;
    width: 23rem;
    height: 32rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.38);
}

/*Div padre de la imagen*/
.Login{    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*Imagen*/
.Login img{     
    width: 10rem;
    height: 5rem;
    padding: 1rem 0 0 0;
}

/*Div padre de los inputs*/
.section-input{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/*Conteneder de cada input*/
.input-container{
    position: relative;
    margin-top: 1.5rem;
}

/*Íconos*/
.icon-input{
    width: 13px;
    height: 13px;
    position: absolute;
    padding: 0;
    margin: 0;
}

/*Inputs de usuario y contraseña*/
.input{
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(178, 177, 177);
    outline: none;
    width: 100%;
    padding-left: 20px;
    transform: translateY(-25%);
}

h3{
    font-size: 12px;
    padding: 1rem;
    font-weight: normal;
    color: rgb(156, 156, 156);
}

/*Enlaces*/
a{
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}

/*Efecto para cuando se pasa el mouse por encima del enlace*/
a:hover{
    text-decoration: underline;
}

/*Div padre del botón*/
.section-boton{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

/*Botón*/
button{
    background-color: #139f93;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.8rem 5rem 0.8rem 5rem;
    border-radius: 0.5rem;
    border: none;
}


